.login {
    position: fixed;
    background-color: white;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // border: 1px solid black;
    z-index: 10;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.25);
}

.login__last {
    margin-top: 150px;
}

.authorization {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50%;
}

.form-control-sm {
    padding: 0 !important;
    padding-right: 20px !important;
}